*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
rapido/build.gradle

facebookSDK/
foursquareoauthlibrary/
rapido/src/main/java/com/thunsaker/rapido/services/AuthHelper.java
rapido/src/main/res/values/com_crashlytics_export_strings.xml
rapido/src/main/res/values/donotsave.xml
rapido/libs/**